.fragment-link-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2em;
  margin-left: -2em;
}

.fragment-link-wrapper:hover .fragment-link svg {
  display: flex;
}

.fragment-link {
  position: absolute;
  left: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.fragment-link svg {
  width: 1em;
  display: none;
}

.fragment-link-wrapper p {
  margin: 0;
}
