---
const today = new Date();
---

<footer>
	<a href="https://github.com/peterkrieg">github</a> •
	<a href="https://www.linkedin.com/in/peterkrieg/">linkedin</a> •
	<a href="https://peterkrieg.com">personal site</a>
</footer>
<style>
	footer {
		padding: 25px 0;
	}
</style>
